<div class="row">
    <admin-menu></admin-menu>
    <div class="col-md-8 col-md-offset-2">
        <br>
        <div>
            <button class="btn btn-lg" routerLink="/admin/categories/create">Add Category</button>
        </div>
        <br>
        <ul class="list-group">
            <admin-category *ngFor="let category of categories" [adminCategoryProp]="category" (editCategory)="editCategory($event)"
                (deleteCategory)="deleteCategory($event)">
            </admin-category>
        </ul>
    </div>
</div>