<div id="hot">

    <div class="box">
        <div class="container">
            <div class="col-md-12">
                <h2>Hot this week</h2>
            </div>
        </div>
    </div>
    <div id="all">
        <div id="content">
            <div class="container">
                <div class="col-md-12">
                    <div class="row products">
                        <hot-product *ngFor="let pr of products" [product]="pr" (getProductDetails)="getProductDetails($event)" (buyProduct)="buyProduct($event)">
                        </hot-product>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>