<div id="all">

    <div id="content">
        <div class="container">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a routerLink="">Home</a>
                    </li>
                    <li>Checkout - Address</li>
                </ul>
            </div>

            <div class="col-md-9" id="checkout">

                <div class="box">
                    <form (ngSubmit)="purchase()" #purchaseForm="ngForm">
                        <h1>Checkout</h1>

                        <div class="content">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name">Firstname</label>
                                        <input type="text" class="form-control" required minlength="6" id="name" name="name" [(ngModel)]="user.name" #name="ngModel">
                                    </div>
                                    <div *ngIf="name.invalid && (name.dirty||name.touched)" class="alert alert-danger">
                                        <div *ngIf="name.errors.required">
                                            Name is required!
                                        </div>
                                        <div *ngIf="name.errors.minlength">
                                            Name must be at least 6 symbols long!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <textarea class="form-control" id="address" required minlength="6" name="address" [(ngModel)]="user.address" #address="ngModel"></textarea>

                                        <div *ngIf="address.invalid && (address.dirty||address.touched)" class="alert alert-danger">
                                            <div *ngIf="address.errors.required">
                                                Address is required!
                                            </div>
                                            <div *ngIf="address.errors.minlength">
                                                Address must be at least 6 symbols long!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="company">Telephone</label>
                                        <input type="text" class="form-control" id="company" name="telephone" required minlength="6" [(ngModel)]="user.telephone"
                                            #telephone="ngModel">
                                    </div>
                                    <div *ngIf="telephone.invalid && (telephone.dirty||telephone.touched)" class="alert alert-danger">
                                        <div *ngIf="telephone.errors.required">
                                            Telephone is required!
                                        </div>
                                        <div *ngIf="telephone.errors.minlength">
                                            Telephone must be at least 6 symbols long!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="comment">Comment</label>
                                        <textarea class="form-control" id="comment" name="comment" [(ngModel)]="comment"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email" required minlength="6" #email="ngModel">
                                    </div>
                                    <div *ngIf="email.invalid && (email.dirty||email.touched)" class="alert alert-danger">
                                        <div *ngIf="email.errors.required">
                                            Email is required!
                                        </div>
                                        <div *ngIf="email.errors.minlength">
                                            Email must be at least 6 symbols long!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-footer">
                            <div class="pull-left">
                                <a routerLink="" class="btn btn-default">
                                    <i class="fa fa-chevron-left"></i>Back to home</a>
                            </div>
                            <!-- Designed by the beautiful Zori -->
                            <div class="pull-right">
                                <button type="submit" [disabled]="purchaseForm.invalid" class="btn btn-primary">Purchase
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box" id="order-summary">
                    <div class="box-header">
                        <h3>Order summary</h3>
                    </div>
                    <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let pr of products">
                                    {{pr.title}} : {{pr.price}}
                                </tr>
                                <tr class="total">
                                    <td>Total</td>
                                    <th>${{total?total:0}}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>