<div class="col-md-2">
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav slimscrollsidebar">
            <ul class="nav" id="side-menu">
                <li style="padding: 70px 0 0;">
                    <a routerLink="/admin" class="waves-effect">
                        <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
                </li>
                <li>
                    <a routerLink="/admin/categories" class="waves-effect">
                        <i class="fa fa-user fa-fw" aria-hidden="true"></i>Categories</a>
                </li>
                <li>
                    <a routerLink="/admin/products" class="waves-effect">
                        <i class="fa fa-table fa-fw" aria-hidden="true"></i>Products</a>
                </li>
            </ul>
        </div>
    </div>
</div>