<div id="all">
    <div id="content">
        <div class="container">
            <div class="col-md-12">
                <div class="box">
                    <h1>{{category?.title}}</h1>
                </div>
                <div class="row products">
                    <div *ngIf="products.length===0">
                        <h2>No products in that category</h2>
                    </div>
                    <category-product *ngFor="let pr of products" [productProp]="pr" (getProductDetails)="getProductDetails($event)" (buyProduct)="buyProduct($event)">
                    </category-product>
                </div>
            </div>
        </div>
    </div>
</div>