<div class="row">
    <admin-menu></admin-menu>
    <div class="col-md-3 col-md-offset-3">
        <form (ngSubmit)="edit()" #categoryForm="ngForm">
            <div class="form-group">
                <label for="name">Title</label>
                <input type="text" class="form-control" id="title" required minlength="5" [(ngModel)]="model.title" name="title" #title="ngModel"
                />
            </div>
            <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                <div *ngIf="title.errors.required">
                    Title is required!
                </div>
                <div *ngIf="title.errors.minlength">
                    Title must be at least 5 symbols long!
                </div>
            </div>
            <div class="text-center">
                <button type="submit" [disabled]="categoryForm.invalid " class="btn btn-primary">
                    <i class="fa fa-user-md"></i> Edit</button>
            </div>
        </form>
    </div>
</div>